<!doctype html>
<html>

<head>
    <meta charset='utf-8' />
    <title class='title'></title>
    <link rel='stylesheet' href='index.css' />
    <link rel='icon' type='image/svg+xml' href='favicon.svg' />
    <script type='module' src='drafts.js'></script>
</head>

<body>
    <header id='menu'></header>
    <main class='otherpage'>
        <aside>
            <42 b 24>
        </aside>
        <section>
            <h2>Drafts</h2>
            <div class='nml42'>
                <42 contacts 24>
            </div>

        </section>
        <aside>
            <42 a 24>
        </aside>
        <form method="post" action="/draftToCard">
            <input type="submit" value="Release Drafts">
        </form>
    </main>
    <footer>
        <article id="cpryear"></article>
    </footer>
</body>

</html>