<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'></title>
        <link rel='stylesheet' href='index.css'/>
        <link rel='icon' type='image/svg+xml' href='favicon.svg'/>
        <script src="https://kit.fontawesome.com/71b85ed9fc.js" crossorigin="anonymous"></script>
        <script type='module' src='index.js'></script>
    </head>
    <body>
        <header id='menu'></header>
        <main id="main">
            <!-- <h2>
                Welcome <42 welcome 24>
            </h2>
            <p>Choose a box and let's get fit!</p> -->
        </main>
        <footer>
            <article id="cpryear"></article>
        </footer>
    </body>
</html>
