<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'></title>
        <link rel='stylesheet' href='index.css'/>
        <link rel='icon' type='image/svg+xml' href='favicon.svg'/>
        <script type='module' src='login.js'></script>
    </head>
    <body>
        <header id='menu'></header>
        <main class='otherpage login-sign-up-page'>
            <aside></aside>
            <section>
                <h2>Login</h2>
                <form method="post" action="/login">
                    <div id='loginmsg'><42 msg 24></div>
                    <div>
                        <p>
                            Email:<br/>
                            <input placeholder="Email" type="email" name="email" required/>
                        </p>
                        <p>
                            Password:<br/>
                            <input placeholder="Password" type="password" name="password" required/>
                        </p>
                        <p>
                            <br/><input type="submit" value="Login"/>
                        </p>
                    </div>
                </form>
                <h3>Or</h3>
                <a href="/user">Sign Up</a>
            </section>
            <aside></aside>
        </main>
        <footer>
            <article id="cpryear"></article>
        </footer>
    </body>
</html>
