body,
html {
  height: 100%;
  margin: auto;
  padding: 0;
  /* Color variables */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-red: #d83232;
  --clr-fullbody: #ffe67b;
  --clr-upperbody: #f8b2ba;
  --clr-lowerbody: #dae889;
  --clr-core: #c6d9db;
}

header nav,
footer {
  align-items: center;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* ----------------- header -------------- */
header nav h1 {
  border: 0px solid green;
  font-size: 2em;
}
header nav ul {
  border: 0px solid yellow;
  list-style: none;
  text-align: right;
}
header nav ul li {
  display: inline;
  font-size: 1.2em;
  margin: 0;
}
header nav ul li:not(:last-child):after {
  content: " | ";
  color: magenta;
}
header nav a {
  color: inherit;
  font-style: normal;
  font-variant: small-caps;
  text-decoration: none;
}
header nav ul a:hover {
  text-decoration: underline;
}

/* ----------------- main -------------- */
main.frontpage {
  border: 1px solid black;
  height: 80%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main.otherpage {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 1em;
  height: 80%;
  min-height: 350px;
  padding: 1em;
}
#loginmsg {
  color: #c00;
  font-weight: 700;
}
/* ----------------- footer -------------- */


/* ----------------- menu -------------- */

#menu-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

#menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #000;
  justify-items: center;
  align-items: center;
}

#menu-container button {
  background: transparent;
  border: none;
}

#menu-container i {
  color: #ffffff;
  transform: scale(2);
}

.menu-btn-burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.menu-btn-line {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

.menu-btn-line::before,
.menu-btn-line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

.menu-btn-line::before {
  transform: translateY(10px);
}

.menu-btn-line::after {
  transform: translateY(-10px);
}

.menu-btn-line.open {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn-line.open::before {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.menu-btn-line.open::after {
  transform: rotate(45deg) translate(-35px, 35px);
}

/* ----------------- swipe section -------------- */

#swipe-container {
  
  width: 100%;

}

.swipe-btn-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.swipe-btn-wrapper:after {
  content: "";
  background: #c00;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 5px;
}

.swipe-btn {
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 2rem;
}